<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>650743322071-l7q3avm39lc6urgva6f48v00sn1a3re1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.650743322071-l7q3avm39lc6urgva6f48v00sn1a3re1</string>
	<key>API_KEY</key>
	<string>AIzaSyAn_HHQhGUFexWJkD_aQJklN7PjHqbvkQ0</string>
	<key>GCM_SENDER_ID</key>
	<string>650743322071</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.g30r93g.Receipts-Store</string>
	<key>PROJECT_ID</key>
	<string>receipts-baa60</string>
	<key>STORAGE_BUCKET</key>
	<string>receipts-baa60.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:650743322071:ios:f0ac25a9380a8279</string>
	<key>DATABASE_URL</key>
	<string>https://receipts-baa60.firebaseio.com</string>
</dict>
</plist>